.App-BS{
  background-color: lightgrey;
}

.profile {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #E3E3E3;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.flex {
  display: flex;
  position: relative;
}

.profile-label {
  left: 0;
}

.profile-content {
  position: absolute;
  left: 200px;
}

.edit {
  position: relative;
}
.btn-edit {
  position: absolute;
  right: 15px;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.cancel-btn {
  background-color: #E3E3E3;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.save-btn {
  background-color: #A4DA28;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.modal-header {
  text-align: center;
}