.App-BS{
  background-color: lightgrey;
}

.profile {
  text-align: center;
  background-color: #E3E3E3;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.edit {
  position: relative;
}
.btn-edit {
  position: absolute;
  right: 15px;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.cancel-btn {
  background-color: #E3E3E3;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.save-btn {
  background-color: #A4DA28;
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.modal-header {
  text-align: center;
}

.recipe {
  margin: 15px;
  padding: 10px;
  /*borders */
  border-style: solid;
  border-color: #A6A6A6;
  border-radius: 20px;
  border-width: 1.25px;
  text-align: center;
  width: 300px;
  height: 250px
}

.recipe-title {
  font-size: 24px;
}

.recipe-img {
  max-width: 90%;
  flex-direction: row;
}