.title {
  color: #A4DA28;
  font-size: 40px;
  margin: 5px;
}

.btn-profile {
  background-color: #A4DA28;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  margin: 5px;
}

.logout{
  position: absolute;
  right: 10px; 
}

.btn-logout{
  background-color: #A4DA28;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  margin: 5px;
}


