.home {
  margin: 20px
  
}

.recipe-list {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe {
  margin: 15px;
  padding: 10px;
  /*borders */
  /* border-style: solid;
  border-color: #A6A6A6; */
  background-color: #EBEBEB;
  border-radius: 20px;
  border-width: 1.25px;
  text-align: center;
  width: 300px;
  height: 400px;
  box-shadow: 0 2px 10px grey;
}

.recipe-title {
  font-size: 18px;
}

.recipe-img {
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0px 4px 10px grey;
}

