body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  border: none;
  border-radius: 10%;
  margin: 5px;
}

.navbar {
  margin-bottom: 40px;
  background-color: #A4DA28;
  box-shadow: 0 6px 10px grey;
}

.title {
  color: #5D791B;
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
}

.btn-profile {
  margin: 10px;
  background-color: #E3E3E3;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  box-shadow: 0 2px 5px grey;
}

.logout{
  position: absolute;
  right: 10px; 
}

.btn-logout{
  background-color: #A4DA28;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  margin: 5px;
}



