.loginItems{
    
    margin-top: 70px;
         
}


.LoginCss{
    text-align: center;
   

}

.textBoxes{
    width: 50%
}

.totalPageCtrlGrid {
    
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    text-align: center;
    max-width: 650px;
    margin: auto;
    padding: 20px;
  }


.forgotPwCss{
    text-align: center;
    font-weight: bold;
}

.top_boarder{
    color: rgb(95, 94, 94);
    display: inline-block;
    margin-bottom: 40px;
    background-color: #A4DA28;
    box-shadow: 0 6px 10px grey;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
    width: 100%;
    
}

.BottomBar{
    margin-top : 15%;
    background-color: #A4DA28;
    color: rgb(95, 94, 94);
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}